.contenedor-banners {
  display: flex;
  width: 60vw;
  height: 30vw;
  justify-content: space-around;
}
.contenedor-banners .emiliocardenas1 {
  height: 100%;
}
.contenedor-banners .emiliocardenas2 {
  height: 80%;
}

.quesabrosas {
  height: 450px;
}

.quesabrosas:hover {
  cursor: pointer;
}

.cont-equilibrista-joyero {
  padding: 0 10rem;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.cont-equilibrista-joyero .joyero {
  height: 400px;
}
.cont-equilibrista-joyero .joyero img {
  height: 80%;
}
.cont-equilibrista-joyero .joyero img:hover {
  cursor: pointer;
}
.cont-equilibrista-joyero .joyero div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.laAcademia {
  width: 40%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.banner-fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../imagenes/fondoBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 37vh;
  min-height: 330px;
  min-width: 350px;
  border-radius: 20px;
  margin-bottom: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.banner-fondo .banner {
  filter: none;
  display: flex;
  flex-direction: column;
  background-color: #e8cddd;
  width: 95%;
  height: 95%;
}
.banner-fondo .banner img {
  width: 20%;
  height: 90%;
  margin: 0.3vw 0.5vw;
}
.banner-fondo .banner .banner-parte-uno {
  display: flex;
  justify-content: space-around;
}
.banner-fondo .banner .banner-parte-uno .texto-uno {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.banner-fondo .banner .banner-parte-uno .texto-uno div {
  display: flex;
  align-items: flex-end;
  margin-top: 2%;
}
.banner-fondo .banner .banner-parte-uno .texto-uno div p {
  background-color: #86d0cc;
  color: white;
  font-size: 100%;
  font-weight: 700;
  margin: 0;
  padding: 0.2vw;
}
.banner-fondo .banner .banner-parte-uno .texto-uno div span {
  margin-left: 0.4vw;
  color: #38207f;
  font-weight: 700;
}
.banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(2) {
  color: #38207f;
  font-size: 1vw;
  font-weight: 700;
  margin: 0;
}
.banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(3) {
  color: #c9392d;
  font-weight: 700;
  margin: 0;
}
.banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(4) {
  font-size: 0.8vw;
  font-weight: 800;
  color: #c9392d;
  font-weight: 700;
  margin: 0;
}
.banner-fondo .banner .banner-parte-dos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-fondo .banner .banner-parte-dos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #609492;
  color: white;
  width: 48%;
  height: 100%;
  padding: 0.2vw;
}
.banner-fondo .banner .banner-parte-dos div p {
  font-size: 70%;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
.banner-fondo .banner .banner-parte-tres {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.banner-fondo .banner .banner-parte-tres p:nth-child(1) {
  color: #c9392d;
  font-weight: 800;
  font-size: 0.7vw;
  margin: 0;
}
.banner-fondo .banner .banner-parte-tres p:nth-child(2) {
  color: #515253;
  font-weight: 800;
  font-size: 0.8vw;
  margin: 0;
}
.banner-fondo .banner .banner-parte-tres p:nth-child(3) {
  background-color: #609492;
  font-size: 80%;
  color: white;
  font-weight: 800;
  padding: 0.2vw;
  margin: 0;
}
.banner-fondo .banner .banner-parte-tres p:nth-child(4),
.banner-fondo .banner .banner-parte-tres p:nth-child(5),
.banner-fondo .banner .banner-parte-tres p:nth-child(6) {
  color: #515253;
  font-size: 70%;
  font-weight: 800;
  margin: 0;
}

.pervoi-equilibrista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.srta-abella {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 5rem;
}

@media (max-width: 570px) {
  .laAcademia {
    width: 100%;
    margin-top: 2rem;
  }
  .contenedor-banners {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .contenedor-banners .emiliocardenas1 {
    height: 50%;
  }
  .contenedor-banners .emiliocardenas2 {
    margin-top: 1rem;
    height: 30%;
  }
  .banner-fondo {
    width: 100vw;
    min-height: 0;
    margin-bottom: 1rem;
  }
  .banner-fondo .banner {
    width: 98%;
    height: 90%;
  }
  .banner-fondo .banner .banner-parte-uno .texto-uno div p {
    font-size: 3.5vw;
  }
  .banner-fondo .banner .banner-parte-uno .texto-uno div span {
    font-size: 3vw;
  }
  .banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(2) {
    font-size: 3.5vw;
  }
  .banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(3) {
    font-size: 3vw;
  }
  .banner-fondo .banner .banner-parte-uno .texto-uno p:nth-child(4) {
    font-size: 3vw;
  }
  .banner-fondo .banner .banner-parte-dos div p {
    font-size: 45%;
  }
  .banner-fondo .banner .banner-parte-tres {
    height: 50%;
  }
  .banner-fondo .banner .banner-parte-tres p:nth-child(1) {
    font-size: 2.5vw;
  }
  .banner-fondo .banner .banner-parte-tres p:nth-child(2) {
    font-size: 3vw;
  }
  .banner-fondo .banner .banner-parte-tres p:nth-child(3) {
    font-size: 2.5vw;
  }
  .banner-fondo .banner .banner-parte-tres p:nth-child(4),
.banner-fondo .banner .banner-parte-tres p:nth-child(5),
.banner-fondo .banner .banner-parte-tres p:nth-child(6) {
    font-size: 2vw;
  }
  .pervoi-equilibrista {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
  }
  .srta-abella {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .cont-equilibrista-joyero {
    padding: 0;
    flex-direction: column;
    width: 100vw;
  }
  .cont-equilibrista-joyero .joyero {
    margin-bottom: 2rem;
  }
}
@media (max-width: 570px) {
  .banner-fondo {
    height: 30vh;
  }
}/*# sourceMappingURL=Banners-ver1-2.css.map */