// Banner Instituto secundario
.contenedor-banners {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  .mariajuliarodriguez {
    height: 35vh;
    min-height: 315px;
    cursor: pointer;
  }
}
.banner-fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../imagenes/fondoBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 35vh;
  min-height: 315px;
  border-radius: 20px;
  margin-bottom: 3rem;
  user-select: none;
  cursor: pointer;
  .banner {
    filter: none;
    display: flex;
    flex-direction: column;
    background-color: #e8cddd;
    width: 95%;
    height: 95%;
    img {
      width: 20%;
      height: 90%;
      margin: 0.3vw 0.5vw;
    }
    .banner-parte-uno {
      display: flex;
      justify-content: space-around;
      .texto-uno {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div {
          display: flex;
          align-items: flex-end;
          margin-top: 2%;
          p {
            background-color: #86d0cc;
            color: white;
            font-size: 100%;
            font-weight: 700;
            margin: 0;
            padding: 0.2vw;
          }
          span {
            margin-left: 0.4vw;
            color: #38207f;
            font-weight: 700;
          }
        }
        p:nth-child(2) {
          color: #38207f;
          font-size: 1vw;
          font-weight: 700;
          margin: 0;
        }
        p:nth-child(3) {
          color: #c9392d;
          font-weight: 700;
          margin: 0;
        }
        p:nth-child(4) {
          font-size: 0.8vw;
          font-weight: 800;
          color: #c9392d;
          font-weight: 700;
          margin: 0;
        }
      }
    }
    .banner-parte-dos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #609492;
        color: white;
        width: 48%;
        height: 100%;
        padding: 0.2vw;
        p {
          font-size: 70%;
          font-weight: 800;
          text-align: center;
          margin: 0;
        }
      }
    }
    .banner-parte-tres {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      p:nth-child(1) {
        color: #c9392d;
        font-weight: 800;
        font-size: 0.7vw;
        margin: 0;
      }
      p:nth-child(2) {
        color: #515253;
        font-weight: 800;
        font-size: 0.8vw;
        margin: 0;
      }
      p:nth-child(3) {
        background-color: #609492;
        font-size: 80%;
        color: white;
        font-weight: 800;
        padding: 0.2vw;
        margin: 0;
      }
      p:nth-child(4),
      p:nth-child(5),
      p:nth-child(6) {
        color: #515253;
        font-size: 70%;
        font-weight: 800;
        margin: 0;
      }
    }
  }
}

@media (max-width: 570px) {
  .contenedor-banners {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    margin-bottom: 1rem;
    .mariajuliarodriguez {
      height: auto;
      width: 100vw;
      min-height: 0;
      cursor: pointer;
    }
  }
  .banner-fondo {
    width: 100vw;
    min-height: 0;
    margin-bottom: 1rem;
    .banner {
      width: 98%;
      height: 90%;
      .banner-parte-uno {
        .texto-uno {
          div {
            p {
              font-size: 3.5vw;
            }
            span {
              font-size: 3vw;
            }
          }
          p:nth-child(2) {
            font-size: 3.5vw;
          }
          p:nth-child(3) {
            font-size: 3vw;
          }
          p:nth-child(4) {
            font-size: 3vw;
          }
        }
      }
      .banner-parte-dos {
        div {
          p {
            font-size: 45%;
          }
        }
      }
      .banner-parte-tres {
        height: 50%;
        p:nth-child(1) {
          font-size: 2.5vw;
        }
        p:nth-child(2) {
          font-size: 3vw;
        }
        p:nth-child(3) {
          font-size: 2.5vw;
        }
        p:nth-child(4),
        p:nth-child(5),
        p:nth-child(6) {
          font-size: 2vw;
        }
      }
    }
  }
}
