.contenedor-barra-navegacion {
  background-color: #ffa733;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-barra-navegacion .barra-navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: 50px;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50vw;
  max-width: 50vw;
  font-size: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio {
  margin-right: 2rem;
  position: relative;
  top: -3rem;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio:hover {
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav {
  width: 100%;
  position: relative;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav:hover {
  border-top: 5px solid #4caf50;
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
  margin-right: 5.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
}

.contenedor-barra-navegacion .barra-navegacion .buscador-input {
  border-radius: 5%;
  padding: 0.2vw;
  height: 100%;
  font-size: 1.3vw;
  width: 10vw;
}

/* redes sociales */
i {
  font-size: 2vw;
  margin: 0.2rem;
  color: #357a38;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

i:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.boton-buscar {
  cursor: pointer;
}
/*# sourceMappingURL=navPrincipal.css.map */