.boton-contacto {
  font-size: 2rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.boton-contacto:hover {
  color: white;
}

.section-form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.section-form .cont-anim-form {
  height: 500px;
  padding: 20px;
  border: outset 3px black;
  background-color: #ff9000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-form .cont-anim-form .cont-head-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-form .cont-anim-form .cont-head-form h3 {
  font-size: 3rem;
}

.section-form .cont-anim-form input {
  background-color: #ffe9d2;
}

.section-form .cont-anim-form input:focus {
  background-color: white;
}

.section-form .cont-anim-form .form-cont-inputs {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-form .cont-anim-form .form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-form .cont-anim-form .form-cont textarea {
  resize: none;
  background-color: #ffe9d2;
}

.section-form .cont-anim-form .form-cont textarea:focus {
  background-color: white;
}

.section-form .cont-anim-form .form-button {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30vw;
}

.section-form .cont-anim-form .form-button .boton-form {
  border: outset 3px black;
  color: white;
  background-color: blue;
  padding: 3px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-form .cont-anim-form .form-button .boton-form:hover {
  cursor: pointer;
  font-weight: 500;
}

.section-form .cont-anim-form #mensaje,
.section-form .cont-anim-form #nombre,
.section-form .cont-anim-form #apellido,
.section-form .cont-anim-form #email {
  padding: 0.2rem;
}
/*# sourceMappingURL=contacto.css.map */