// Imports
@import "Nav/navPrincipal";
@import "../Contacto/contacto";
@import "../Noticias/noticias";
@import "../Noticias/Seleccionada/Seleccionada";
// Variables
// Color Principal
$primary-color: #333333;
$secondary-color: #ffa733;
$max-width: 90%;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.logo-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  width: 20vw;
  p {
    margin: 0 0 0 12px;
    color: white;
    font-size: 0.8vw;
  }
  .slogan {
    align-self: center;
    margin-top: -6px;
    margin-left: -78px;
  }
}
main {
  background-image: url(../../imagenes/fondo.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header */

header {
  width: 100%;
  height: 150px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  width: $max-width;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}
.HiddenObject {
  display: none;
}
.btn-primary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}
.btn-primary:hover {
  background-color: #ff9100 !important;
  border-color: #ff9100 !important;
}
.radioCont {
  p {
    color: white;
    font-size: 0.7vw;
  }
  iframe {
    width: 250px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Seccion 1 = tarjetas */
.section1 {
  margin: 50px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "principal secundaria1"
    "secundaria2 secundaria3";
  transition: 200ms opacity;
  opacity: 0%;
  width: 80vw;
}
.img-general-principal {
  height: 200px;
  width: auto;
}
.img-general-secundaria {
  height: 200px;
  width: auto;
}
.card1,
.card2,
.card3,
.card4 {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-cont-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}
.card-body {
  margin-top: 20px;
  padding: 0;
}
.card-cont-boton-autor {
  display: flex;
  justify-content: space-between;
}
.card1 {
  grid-area: principal;
  justify-self: flex-start;
}
.card2 {
  grid-area: secundaria1;
  justify-self: flex-end;
}
.card3 {
  margin-top: 20px;
  grid-area: secundaria2;
  justify-self: flex-start;
}
.card4 {
  margin-top: 20px;
  grid-area: secundaria3;
  justify-self: flex-end;
}

/* Botón de contacto */

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding: 1%;
  background-color: $secondary-color;
  clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
}

.boton-contacto a {
  color: #000000;
  font-weight: bold;
  margin: 10rem 0rem 0rem 0rem;
  user-select: none;
}

.boton-contacto a:hover {
  text-decoration: none;
  color: white;
}

/* topicos */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 50px 0 50px 0;
}
.tarjeta-persona div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.titulo-section3 {
  font-size: 1.5vw;
}
.img-hacemos-cont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}
.img-hacemos {
  width: 10vw;
  height: 15vw;
  overflow: hidden;
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  border-radius: 172px 172px 172px 172px;
  -moz-border-radius: 172px 172px 172px 172px;
  -webkit-border-radius: 172px 172px 172px 172px;
  border: 0px solid #000000;
}
.tarjeta-persona p {
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1rem;
}

.redondeo {
  height: 16vw;
  width: 13vw;
}
.tarjeta-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// Seccion arte
.sectionArte {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .spinner-positionArt {
    position: relative;
    top: 20vw;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    color: #333333;
  }
  .cont-arte-titulo {
    position: relative;
    top: 5vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    width: 12vw;
    height: 3vw;
    padding: 0.1vw;
    color: white;
    .arte-titulo {
      font-size: 1.4vw;
      margin-bottom: 0 !important;
    }
  }
  .contenedor-arte {
    opacity: 0%;
    height: auto;
  }
  img {
    width: 80vw;
  }
  .cont-arte-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.637);
    position: relative;
    z-index: 2;
    top: -7vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    color: white;
    p {
      margin-bottom: 0 !important;
      font-size: 1vw;
      font-weight: 500;
    }
    #arte-txt-desc {
      margin-bottom: 1rem !important;
    }
  }
}

//  Trivia
.sectionTrivia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .spinner-positionTrivia {
    position: relative;
    top: 5vw;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    color: #333333;
  }
  .preguntaTrivia {
    font-size: 1.3vw;
  }
  .contenedorTrivia {
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input:hover {
      cursor: pointer;
    }
    .trivia-op-cont {
      display: flex;
      align-items: center;
      border: 5px outset $secondary-color;
      border-radius: 25px;
      width: 30vw;
      padding: 0.5vw;
      margin-top: 2px;
      user-select: none;
      font-weight: 500;
      font-size: 1.2vw;
      transition: background-color 200ms;
      label {
        margin-left: 10px;
      }
      label:hover {
        cursor: pointer;
      }
    }
    .trivia-op-cont:hover {
      cursor: pointer;
      background-color: rgba(173, 173, 173, 0.425);
    }
  }
}

// Seccion Contemporaneo
.sectionVida {
  width: 80vw;
  display: flex; // none
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 4vw 0;
  .spinner-positionVida {
    position: relative;
    top: 25vw;
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }
  .vida-cont {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vw;
    transition: opacity 200ms;
    opacity: 0%;
  }
  .vida-nav-cont {
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;
    .vida-titulo {
      background-color: white;
      user-select: none;
      font-size: 1.2vw;
      font-weight: 600;
      border: 1px outset black;
      border-radius: 15px 15px 0 0;
      height: 95%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .vida-titulo:hover {
      cursor: pointer;
      font-weight: 700;
      background-color: $secondary-color;
      color: white;
    }
  }
  .vida-contenido-cont-general {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2vw;
    overflow: auto;
    .vida-contenido {
      padding: 1vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-left: 1.2vw dotted rgb(230, 230, 230);
      width: 100%;
      height: auto;
      h2 {
        position: relative;
        top: -10vw;
        color: white;
        background-color: rgba(0, 0, 0, 0.568);
        width: 80%;
        height: auto;
        min-height: 5vw;
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      p {
        width: 80%;
      }
      img {
        height: auto;
        width: 80%;
        margin-top: 1vw;
      }
      .vida-contenido-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  height: 200px;
  color: #ffffff;
  position: relative;
  top: 0rem;
  width: 100%;
  .contenedor-footer {
    width: 90%;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .footer-texto {
      padding: 1rem;
    }
    .firma {
      font-style: italic;
    }
  }
}

.spinner-position {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: $primary-color;
}
.clima {
  margin: 0 12px 0 0 !important;
  border: none !important;
}

// MOBILE

@media (max-width: 570px) {
  .spinner-position {
    left: 35%;
  }
  header {
    height: auto;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
  }
  .logo-cont {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan {
      margin: 0;
    }
  }
  .logo-cont p {
    font-size: 2vw;
    margin: 0;
  }
  .radioCont {
    height: auto;
    p {
      font-size: 2vw;
      margin: 1vw 0 1vw 0;
    }
    iframe {
      width: 60vw;
      height: 50px;
    }
  }
  .contenedor-barra-navegacion {
    .barra-navegacion {
      flex-direction: column;
      height: 18vw;
      .boton-cont-nav {
        height: 100px;
        width: 100vw;
        max-width: 100vw;
        font-size: 3vw;
        #boton-inicio {
          margin: 0;
          width: 0;
        }
      }
      .redes-cont-nav {
        width: 80vw;
        .buscador-input {
          width: 40vw;
          font-size: 3vw;
        }
      }
    }
  }
  i {
    font-size: 5vw;
  }
  // Seccion noticias principales
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    .card1,
    .card2,
    .card3,
    .card4 {
      width: 80vw;
      height: 120vw;
      .card-title {
        font-size: 5vw;
      }
      .card-text {
        font-size: 4vw;
      }
      .card-cont-boton-autor {
        p {
          font-size: 3.5vw;
        }
        a {
          font-size: 3.5vw;
        }
      }
    }
  }
  .section2 {
    width: 100vw;
    height: 15vw;
    clip-path: polygon(16% 0, 88% 0, 85% 100%, 12% 100%);
    .boton-contacto {
      font-size: 4vw;
    }
  }
  .cont-anim-form {
    width: 100vw;
    height: 80vw;
    transform: none;
    top: 40%;
    left: 0;
    .cont-head-form {
      h3 {
        font-size: 4vw;
      }
    }
    .form-cont {
      height: 100%;
      width: 100vw;
      justify-content: center;
      align-items: center;
      .form-cont-inputs {
        margin: 0 0 1vw 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
          width: 80vw;
          font-size: 3vw;
        }
      }
      .form-button {
        width: 80vw;
        .boton-form {
          font-size: 3vw;
        }
      }
    }
    #mensaje {
      width: 80vw;
      height: 20vw;
      font-size: 3vw;
    }
  }
  .sectionArte {
    margin-top: 10vw;
    .contenedor-arte {
      .cont-arte-titulo {
        width: 24vw;
        height: 7vw;
        top: 9vw;
        .arte-titulo {
          font-size: 4vw;
        }
      }
      .cont-arte-txt {
        height: 15vw;
        width: 100%;
        top: -18vw;
        p {
          font-size: 3vw;
        }
      }
    }
  }
  .sectionTrivia {
    width: 100vw;
    .contenedorTrivia {
      width: 80vw;
      h2 {
        font-size: 9vw;
      }
      .preguntaTrivia {
        font-size: 4vw;
      }
      .trivia-op-cont {
        width: 70%;
        height: 10vw;
        font-size: 3vw;
      }
    }
  }
  .section3 {
    .titulo-section3 {
      font-size: 6vw;
    }
    .img-hacemos-cont {
      margin: 0;
      width: 100vw;
      .tarjeta-persona {
        width: 30%;
        p {
          font-size: 2.5vw;
        }
      }
    }
  }
  .seccion-noticias {
    margin-top: 5vw;
    h2 {
      font-size: 8vw;
    }
    .general-main-cont {
      width: 100vw;
      height: 100vw;
      margin-top: 4vw;
      img {
      }
      h3 {
        font-size: 4vw;
        max-width: 85%;
        top: -30vw;
      }
      p {
        font-size: 3vw;
        width: 85%;
        top: -28vw;
      }
    }
    .general-cont-noticias {
      margin: 0;
      min-width: 0;
      width: 100vw;
      .noticia {
        flex-direction: column;
        width: 85vw;
        height: 100vw;
        img {
          width: 100%;
        }
        .noticia-textos {
          width: 100%;
          h3 {
            font-size: 4vw;
          }
          p {
            font-size: 3vw;
            width: 100%;
          }
        }
      }
    }
  }
  .section-noticia {
    width: 100vw;
    .titulo-noticia {
      font-size: 4.5vw;
      width: 87vw;
    }
    .contenedor-imagenes {
      .flecha-izq {
        position: relative;
        top: 35vw;
        left: 20vw;
      }
      .flecha-der {
        position: relative;
        top: 35vw;
        left: -20vw;
      }
      .cont-imagen-noticia {
        height: auto;
        width: 100vw;
        margin: 0;
        .imagen-noticia {
          height: 60vw;
        }
      }
    }
    #img-numb {
      font-size: 6vw;
    }
    .autor-noticia,
    .fecha-noticia {
      font-size: 3vw;
    }
    .contenido-noticia {
      font-size: 3.5vw;
    }
  }
  .sectionVida {
    .vida-nav-cont {
      height: 10%;
      .vida-titulo {
        width: 33%;
        font-size: 3vw;
      }
    }
    .vida-cont {
      height: 100vw;
    }
    .vida-contenido-cont-general {
      .vida-contenido {
        img {
          width: 97%;
        }
        h2 {
          width: 97%;
          font-size: 4vw;
          top: -18vw;
          text-align: center;
        }
        p {
          font-size: 3vw;
        }
      }
    }
  }
  .footer {
    .contenedor-footer {
      flex-direction: column;
      .footer-texto {
        padding: 0.5vw;
        p {
          font-size: 3vw;
        }
        .firma {
          font-size: 2vw;
        }
        .copyR {
          font-size: 2vw;
        }
      }
    }
  }
}
