@charset "UTF-8";
.contenedor-barra-navegacion {
  background-color: #ffa733;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-barra-navegacion .barra-navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: 50px;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50vw;
  max-width: 50vw;
  font-size: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio {
  margin-right: 2rem;
  position: relative;
  top: -3rem;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio:hover {
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav {
  width: 100%;
  position: relative;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav:hover {
  border-top: 5px solid #333333;
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
  margin-right: 5.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
}

.contenedor-barra-navegacion .barra-navegacion .buscador-input {
  border-radius: 5%;
  padding: 0.2vw;
  height: 100%;
  font-size: 1.3vw;
  width: 10vw;
}

/* redes sociales */
i {
  font-size: 2vw;
  margin: 0.2rem;
  color: #333333;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

i:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.boton-buscar {
  cursor: pointer;
}

.boton-contacto {
  font-size: 1.8vw;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.boton-contacto:hover {
  color: white;
}

.cont-anim-form {
  z-index: 10;
  height: 450px;
  padding: 20px;
  border: outset 3px black;
  background-color: #ffa733;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-anim-form .cont-head-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-anim-form .cont-head-form h3 {
  font-size: 3rem;
}

.cont-anim-form input {
  background-color: #ffe9d2;
}

.cont-anim-form input:focus {
  background-color: white;
}

.cont-anim-form .form-cont-inputs {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-anim-form .form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cont-anim-form .form-cont textarea {
  resize: none;
  background-color: #ffe9d2;
}

.cont-anim-form .form-cont textarea:focus {
  background-color: white;
}

.cont-anim-form .form-button {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30vw;
}

.cont-anim-form .form-button .boton-form {
  border: outset 3px black;
  color: white;
  background-color: #333333;
  padding: 3px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-anim-form .form-button .boton-form:hover {
  cursor: pointer;
  font-weight: 500;
}

.cont-anim-form #mensaje,
.cont-anim-form #nombre,
.cont-anim-form #apellido,
.cont-anim-form #email {
  padding: 0.2rem;
}

.seccion-noticias {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0%;
  margin-top: 4rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-noticias h2 {
  font-size: 3rem;
}

.seccion-noticias .general-main-cont {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  height: 600px;
}

.seccion-noticias .general-main-cont img {
  height: 100%;
  width: auto;
  min-width: 90%;
}

.seccion-noticias .general-main-cont img:hover,
.seccion-noticias .general-main-cont h3:hover {
  cursor: pointer;
}

.seccion-noticias .general-main-cont h3 {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  color: white;
  text-align: center;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 800px;
  max-width: 55%;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.seccion-noticias .general-main-cont p {
  background-color: rgba(0, 0, 0, 0.3);
  width: 55%;
  position: absolute;
  color: white;
  font-weight: 600;
  top: 900px;
  padding: 1rem;
}

.seccion-noticias .general-cont-noticias {
  margin: 4rem 0 4rem 0;
  min-width: 800px;
  max-width: 1000px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-noticias .general-cont-noticias .noticia:nth-of-type(2n) {
  background-color: rgba(134, 134, 134, 0.096);
}

.seccion-noticias .general-cont-noticias .noticia {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
}

.seccion-noticias .general-cont-noticias .noticia img {
  width: 35%;
  height: 100%;
}

.seccion-noticias .general-cont-noticias .noticia .noticia-textos {
  padding: 1rem;
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.seccion-noticias .general-cont-noticias .noticia .noticia-textos p {
  margin-top: 3px;
}

.seccion-noticias .general-cont-noticias .noticia:hover {
  cursor: pointer;
}

.section-noticia {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 4rem 0;
}

.section-noticia .titulo-noticia {
  font-size: 2rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-noticia .cont-imagen-noticia {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.section-noticia .cont-imagen-noticia .imagen-noticia {
  height: 500px;
  width: auto;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-noticia .autor-noticia {
  font-style: italic;
  width: 80%;
}

.section-noticia .contenido-noticia {
  background-color: white;
  padding: 10px;
  width: 80%;
  font-size: 1.2rem;
}

.section-noticia .fecha-noticia {
  width: 80%;
}

.contenedor-imagenes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flecha-izq:hover,
.flecha-der:hover {
  cursor: pointer;
}

#img-numb {
  font-size: 1.5rem;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
  width: 20vw;
}

.logo-cont p {
  margin: 0 0 0 12px;
  color: white;
  font-size: 0.9rem;
}

main {
  background-image: url(../../imagenes/fondo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* header */
header {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HiddenObject {
  display: none;
}

.btn-primary {
  background-color: #ffa733 !important;
  border-color: #ffa733 !important;
}

.btn-primary:hover {
  background-color: #ff9100 !important;
  border-color: #ff9100 !important;
}

/* Seccion 1 = tarjetas */
.section1 {
  margin: 50px 0 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "principal secundaria1" "secundaria2 secundaria3";
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
  opacity: 0%;
  width: 80vw;
}

.img-general-principal {
  height: 200px;
  width: auto;
}

.img-general-secundaria {
  height: 200px;
  width: auto;
}

.card1,
.card2,
.card3,
.card4 {
  width: 80%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-img-top {
  width: 100%;
  max-height: 300px;
  height: auto;
}

.card-body {
  margin-top: 20px;
  padding: 0;
}

.card-cont-boton-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: principal;
  justify-self: flex-start;
}

.card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secundaria1;
  justify-self: flex-end;
}

.card3 {
  margin-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secundaria2;
  justify-self: flex-start;
}

.card4 {
  margin-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: secundaria3;
  justify-self: flex-end;
}

/* Botón de contacto */
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  padding: 1%;
  background-color: #ffa733;
  -webkit-clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
          clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
}

.boton-contacto a {
  color: #000000;
  font-weight: bold;
  margin: 10rem 0rem 0rem 0rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boton-contacto a:hover {
  text-decoration: none;
  color: white;
}

/* topicos */
.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 50px 0 50px 0;
}

.tarjeta-persona div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titulo-section3 {
  font-size: 1.5vw;
}

.img-hacemos-cont {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
}

.img-hacemos {
  width: 10vw;
  height: 15vw;
  overflow: hidden;
  -webkit-filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  border-radius: 172px 172px 172px 172px;
  -moz-border-radius: 172px 172px 172px 172px;
  -webkit-border-radius: 172px 172px 172px 172px;
  border: 0px solid #000000;
}

.tarjeta-persona p {
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1rem;
}

.redondeo {
  height: 16vw;
  width: 13vw;
}

.tarjeta-persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionArte {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionArte .cont-arte-titulo {
  position: relative;
  top: 5vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  width: 12vw;
  padding: 0.1vw;
  color: white;
}

.sectionArte .cont-arte-titulo .arte-titulo {
  font-size: 2vw;
}

.sectionArte .contenedor-arte {
  height: auto;
}

.sectionArte img {
  width: 80vw;
}

.sectionArte .cont-arte-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.637);
  position: relative;
  z-index: 2;
  top: -7vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  color: white;
}

.sectionArte .cont-arte-txt p {
  margin-bottom: 0 !important;
  font-size: 1vw;
  font-weight: 500;
}

.sectionArte .cont-arte-txt #arte-txt-desc {
  margin-bottom: 1rem !important;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  height: 200px;
  color: #ffffff;
  position: relative;
  top: 0rem;
  width: 100%;
}

.footer .contenedor-footer {
  width: 90%;
  font-size: 0.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contenedor-footer .footer-texto {
  padding: 1rem;
}

.footer .contenedor-footer .firma {
  font-style: italic;
}

.spinner-position {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: #333333;
}

.clima {
  margin: 0 12px 0 0 !important;
  border: none !important;
}
/*# sourceMappingURL=index.css.map */