@charset "UTF-8";
.contenedor-barra-navegacion {
  background-color: #ffa733;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-barra-navegacion .barra-navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: 50px;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50vw;
  max-width: 50vw;
  font-size: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio {
  margin-right: 2rem;
  position: relative;
  top: -3rem;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio:hover {
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav {
  width: 100%;
  position: relative;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav:hover {
  border-top: 5px solid #333333;
  cursor: pointer;
}

.contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
  margin-right: 5.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
}

.contenedor-barra-navegacion .barra-navegacion .buscador-input {
  border-radius: 5%;
  padding: 0.2vw;
  height: 100%;
  font-size: 1.3vw;
  width: 10vw;
}

/* redes sociales */
i {
  font-size: 2vw;
  margin: 0.2rem;
  color: #333333;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

i:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.boton-buscar {
  cursor: pointer;
}

.boton-contacto {
  font-size: 1.8vw;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.boton-contacto:hover {
  color: white;
}

.cont-anim-form {
  z-index: 10;
  height: 22vw;
  padding: 20px;
  border: outset 3px black;
  background-color: #ffa733;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-anim-form .cont-head-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-anim-form .cont-head-form h3 {
  font-size: 2vw;
}

.cont-anim-form input {
  background-color: #ffe9d2;
}

.cont-anim-form input:focus {
  background-color: white;
}

.cont-anim-form .form-cont-inputs {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cont-anim-form .form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cont-anim-form .form-cont textarea {
  resize: none;
  background-color: #ffe9d2;
  height: 10vw;
}

.cont-anim-form .form-cont textarea:focus {
  background-color: white;
}

.cont-anim-form .form-button {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30vw;
}

.cont-anim-form .form-button .boton-form {
  border: outset 3px black;
  color: white;
  background-color: #333333;
  padding: 3px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-anim-form .form-button .boton-form:hover {
  cursor: pointer;
  font-weight: 500;
}

.cont-anim-form #mensaje,
.cont-anim-form #nombre,
.cont-anim-form #apellido,
.cont-anim-form #email {
  padding: 0.2rem;
}

.seccion-noticias {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  opacity: 0%;
  margin-top: 4rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-noticias h2 {
  font-size: 3rem;
}

.seccion-noticias .general-main-cont {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.seccion-noticias .general-main-cont img {
  width: 60vw;
  height: auto;
}

.seccion-noticias .general-main-cont img:hover,
.seccion-noticias .general-main-cont h3:hover {
  cursor: pointer;
}

.seccion-noticias .general-main-cont h3 {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5vw;
  color: white;
  text-align: center;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: -10vw;
  max-width: 55%;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.seccion-noticias .general-main-cont p {
  background-color: rgba(0, 0, 0, 0.3);
  width: 55%;
  position: relative;
  color: white;
  font-weight: 600;
  top: -10vw;
  padding: 0.5vw;
  font-size: 1vw;
}

.seccion-noticias .general-cont-noticias {
  margin: 4rem 0 4rem 0;
  min-width: 800px;
  max-width: 1000px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-noticias .general-cont-noticias .noticia:nth-of-type(2n) {
  background-color: rgba(134, 134, 134, 0.096);
}

.seccion-noticias .general-cont-noticias .noticia {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
}

.seccion-noticias .general-cont-noticias .noticia img {
  width: 35%;
  height: 100%;
}

.seccion-noticias .general-cont-noticias .noticia .noticia-textos {
  padding: 1rem;
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.seccion-noticias .general-cont-noticias .noticia .noticia-textos p {
  margin-top: 3px;
}

.seccion-noticias .general-cont-noticias .noticia:hover {
  cursor: pointer;
}

.section-noticia {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 4rem 0;
}

.section-noticia .titulo-noticia {
  font-size: 2rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-noticia .cont-imagen-noticia {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.section-noticia .cont-imagen-noticia .imagen-noticia {
  height: 500px;
  width: auto;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-noticia .autor-noticia {
  font-style: italic;
  width: 80%;
}

.section-noticia .contenido-noticia {
  background-color: white;
  padding: 10px;
  width: 80%;
  font-size: 1.2rem;
}

.section-noticia .fecha-noticia {
  width: 80%;
}

.contenedor-imagenes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flecha-izq:hover,
.flecha-der:hover {
  cursor: pointer;
}

#img-numb {
  font-size: 1.5rem;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
  width: 20vw;
}

.logo-cont p {
  margin: 0 0 0 12px;
  color: white;
  font-size: 0.8vw;
}

.logo-cont .slogan {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -6px;
  margin-left: -78px;
}

main {
  background-image: url(../../imagenes/fondo.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* header */
header {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sillaEnRadio {
  font-size: 0.8vw;
  font-weight: 600;
}

.HiddenObject {
  display: none;
}

.btn-primary {
  background-color: #ffa733 !important;
  border-color: #ffa733 !important;
}

.btn-primary:hover {
  background-color: #ff9100 !important;
  border-color: #ff9100 !important;
}

.radioCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radioCont p {
  color: white;
  font-size: 0.7vw;
}

.radioCont iframe {
  width: 250px;
}

/* Seccion 1 = tarjetas */
.section1 {
  margin: 50px 0 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "principal secundaria1" "secundaria2 secundaria3";
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
  opacity: 0%;
  width: 80vw;
}

.img-general-principal {
  height: 200px;
  width: auto;
}

.img-general-secundaria {
  height: 200px;
  width: auto;
}

.card1,
.card2,
.card3,
.card4 {
  width: 80%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-cont-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}

.card-body {
  margin-top: 20px;
  padding: 0;
}

.card-cont-boton-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: principal;
  justify-self: flex-start;
}

.card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: secundaria1;
  justify-self: flex-end;
}

.card3 {
  margin-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secundaria2;
  justify-self: flex-start;
}

.card4 {
  margin-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: secundaria3;
  justify-self: flex-end;
}

/* Botón de contacto */
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  padding: 1%;
  background-color: #ffa733;
  -webkit-clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
          clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
}

.boton-contacto a {
  color: #000000;
  font-weight: bold;
  margin: 10rem 0rem 0rem 0rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boton-contacto a:hover {
  text-decoration: none;
  color: white;
}

/* topicos */
.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 50px 0 50px 0;
}

.tarjeta-persona div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titulo-section3 {
  font-size: 1.5vw;
}

.img-hacemos-cont {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
}

.img-hacemos {
  width: 10vw;
  height: 15vw;
  overflow: hidden;
  -webkit-filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  border-radius: 172px 172px 172px 172px;
  -moz-border-radius: 172px 172px 172px 172px;
  -webkit-border-radius: 172px 172px 172px 172px;
  border: 0px solid #000000;
}

.tarjeta-persona p {
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1rem;
}

.redondeo {
  height: 16vw;
  width: 13vw;
}

.tarjeta-persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionArte {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionArte .spinner-positionArt {
  position: relative;
  top: 20vw;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #333333;
}

.sectionArte .cont-arte-titulo {
  position: relative;
  top: 5vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  width: 12vw;
  height: 3vw;
  padding: 0.1vw;
  color: white;
}

.sectionArte .cont-arte-titulo .arte-titulo {
  font-size: 1.4vw;
  margin-bottom: 0 !important;
}

.sectionArte .contenedor-arte {
  opacity: 0%;
  height: auto;
}

.sectionArte img {
  width: 80vw;
}

.sectionArte .cont-arte-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.637);
  position: relative;
  z-index: 2;
  top: -7vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  color: white;
}

.sectionArte .cont-arte-txt p {
  margin-bottom: 0 !important;
  font-size: 1vw;
  font-weight: 500;
}

.sectionArte .cont-arte-txt #arte-txt-desc {
  margin-bottom: 1rem !important;
}

.sectionTrivia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTrivia .spinner-positionTrivia {
  position: relative;
  top: 5vw;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #333333;
}

.sectionTrivia .preguntaTrivia {
  font-size: 1.3vw;
}

.sectionTrivia .contenedorTrivia {
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTrivia .contenedorTrivia input:hover {
  cursor: pointer;
}

.sectionTrivia .contenedorTrivia .trivia-op-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px outset #ffa733;
  border-radius: 25px;
  width: 30vw;
  padding: 0.5vw;
  margin-top: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 1.2vw;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.sectionTrivia .contenedorTrivia .trivia-op-cont label {
  margin-left: 10px;
}

.sectionTrivia .contenedorTrivia .trivia-op-cont label:hover {
  cursor: pointer;
}

.sectionTrivia .contenedorTrivia .trivia-op-cont:hover {
  cursor: pointer;
  background-color: rgba(173, 173, 173, 0.425);
}

.sectionVida {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 4vw 0;
}

.sectionVida .spinner-positionVida {
  position: relative;
  top: 25vw;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}

.sectionVida .vida-cont {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vw;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 0%;
}

.sectionVida .vida-nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionVida .vida-nav-cont .vida-titulo {
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.2vw;
  font-weight: 600;
  border: 1px outset black;
  border-radius: 15px 15px 0 0;
  height: 95%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionVida .vida-nav-cont .vida-titulo:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #ffa733;
  color: white;
}

.sectionVida .vida-contenido-cont-general {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2vw;
  overflow: auto;
}

.sectionVida .vida-contenido-cont-general .vida-contenido {
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-left: 1.2vw dotted #e6e6e6;
  width: 100%;
  height: auto;
}

.sectionVida .vida-contenido-cont-general .vida-contenido h2 {
  position: relative;
  top: -10vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  width: 80%;
  height: auto;
  min-height: 5vw;
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionVida .vida-contenido-cont-general .vida-contenido p {
  width: 80%;
}

.sectionVida .vida-contenido-cont-general .vida-contenido img {
  height: auto;
  width: 80%;
  margin-top: 1vw;
}

.sectionVida .vida-contenido-cont-general .vida-contenido .vida-contenido-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  height: 200px;
  color: #ffffff;
  position: relative;
  top: 0rem;
  width: 100%;
}

.footer .contenedor-footer {
  width: 90%;
  font-size: 0.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contenedor-footer .footer-texto {
  padding: 1rem;
}

.footer .contenedor-footer .firma {
  font-style: italic;
}

.spinner-position {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: #333333;
}

.clima {
  margin: 0 12px 0 0 !important;
  border: none !important;
}

@media (max-width: 570px) {
  .spinner-position {
    left: 35%;
  }
  header {
    height: auto;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: auto;
  }
  .logo-cont {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-cont .slogan {
    margin: 0;
  }
  .logo-cont p {
    font-size: 2vw;
    margin: 0;
  }
  .radioCont {
    height: auto;
  }
  .radioCont p {
    font-size: 2vw;
    margin: 1vw 0 1vw 0;
  }
  .radioCont iframe {
    width: 60vw;
    height: 50px;
  }
  .contenedor-barra-navegacion .barra-navegacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 18vw;
  }
  .contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
    height: 100px;
    width: 100vw;
    max-width: 100vw;
    font-size: 3vw;
  }
  .contenedor-barra-navegacion .barra-navegacion .boton-cont-nav #boton-inicio {
    margin: 0;
    width: 0;
  }
  .contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
    width: 80vw;
  }
  .contenedor-barra-navegacion .barra-navegacion .redes-cont-nav .buscador-input {
    width: 40vw;
    font-size: 3vw;
  }
  i {
    font-size: 5vw;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .section1 .card1,
  .section1 .card2,
  .section1 .card3,
  .section1 .card4 {
    width: 80vw;
    height: 120vw;
  }
  .section1 .card1 .card-title,
  .section1 .card2 .card-title,
  .section1 .card3 .card-title,
  .section1 .card4 .card-title {
    font-size: 5vw;
  }
  .section1 .card1 .card-text,
  .section1 .card2 .card-text,
  .section1 .card3 .card-text,
  .section1 .card4 .card-text {
    font-size: 4vw;
  }
  .section1 .card1 .card-cont-boton-autor p,
  .section1 .card2 .card-cont-boton-autor p,
  .section1 .card3 .card-cont-boton-autor p,
  .section1 .card4 .card-cont-boton-autor p {
    font-size: 3.5vw;
  }
  .section1 .card1 .card-cont-boton-autor a,
  .section1 .card2 .card-cont-boton-autor a,
  .section1 .card3 .card-cont-boton-autor a,
  .section1 .card4 .card-cont-boton-autor a {
    font-size: 3.5vw;
  }
  .section2 {
    width: 100vw;
    height: 15vw;
    -webkit-clip-path: polygon(16% 0, 88% 0, 85% 100%, 12% 100%);
            clip-path: polygon(16% 0, 88% 0, 85% 100%, 12% 100%);
  }
  .section2 .boton-contacto {
    font-size: 4vw;
  }
  .cont-anim-form {
    width: 100vw;
    height: 80vw;
    -webkit-transform: none;
            transform: none;
    top: 40%;
    left: 0;
  }
  .cont-anim-form .cont-head-form h3 {
    font-size: 4vw;
  }
  .cont-anim-form .form-cont {
    height: 100%;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-anim-form .form-cont .form-cont-inputs {
    margin: 0 0 1vw 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont-anim-form .form-cont .form-cont-inputs input {
    width: 80vw;
    font-size: 3vw;
  }
  .cont-anim-form .form-cont .form-button {
    width: 80vw;
  }
  .cont-anim-form .form-cont .form-button .boton-form {
    font-size: 3vw;
  }
  .cont-anim-form #mensaje {
    width: 80vw;
    height: 20vw;
    font-size: 3vw;
  }
  .sectionArte {
    margin-top: 10vw;
  }
  .sectionArte .contenedor-arte .cont-arte-titulo {
    width: 24vw;
    height: 7vw;
    top: 9vw;
  }
  .sectionArte .contenedor-arte .cont-arte-titulo .arte-titulo {
    font-size: 4vw;
  }
  .sectionArte .contenedor-arte .cont-arte-txt {
    height: 15vw;
    width: 100%;
    top: -18vw;
  }
  .sectionArte .contenedor-arte .cont-arte-txt p {
    font-size: 3vw;
  }
  .sectionTrivia {
    width: 100vw;
  }
  .sectionTrivia .contenedorTrivia {
    width: 80vw;
  }
  .sectionTrivia .contenedorTrivia h2 {
    font-size: 9vw;
  }
  .sectionTrivia .contenedorTrivia .preguntaTrivia {
    font-size: 4vw;
  }
  .sectionTrivia .contenedorTrivia .trivia-op-cont {
    width: 70%;
    height: 10vw;
    font-size: 3vw;
  }
  .section3 .titulo-section3 {
    font-size: 6vw;
  }
  .section3 .img-hacemos-cont {
    margin: 0;
    width: 100vw;
  }
  .section3 .img-hacemos-cont .tarjeta-persona {
    width: 30%;
  }
  .section3 .img-hacemos-cont .tarjeta-persona p {
    font-size: 2.5vw;
  }
  .seccion-noticias {
    margin-top: 5vw;
  }
  .seccion-noticias h2 {
    font-size: 8vw;
  }
  .seccion-noticias .general-main-cont {
    width: 100vw;
    height: 100vw;
    margin-top: 4vw;
  }
  .seccion-noticias .general-main-cont h3 {
    font-size: 4vw;
    max-width: 85%;
    top: -30vw;
  }
  .seccion-noticias .general-main-cont p {
    font-size: 3vw;
    width: 85%;
    top: -28vw;
  }
  .seccion-noticias .general-cont-noticias {
    margin: 0;
    min-width: 0;
    width: 100vw;
  }
  .seccion-noticias .general-cont-noticias .noticia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85vw;
    height: 100vw;
  }
  .seccion-noticias .general-cont-noticias .noticia img {
    width: 100%;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos {
    width: 100%;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos h3 {
    font-size: 4vw;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos p {
    font-size: 3vw;
    width: 100%;
  }
  .section-noticia {
    width: 100vw;
  }
  .section-noticia .titulo-noticia {
    font-size: 4.5vw;
    width: 87vw;
  }
  .section-noticia .contenedor-imagenes .flecha-izq {
    position: relative;
    top: 35vw;
    left: 20vw;
  }
  .section-noticia .contenedor-imagenes .flecha-der {
    position: relative;
    top: 35vw;
    left: -20vw;
  }
  .section-noticia .contenedor-imagenes .cont-imagen-noticia {
    height: auto;
    width: 100vw;
    margin: 0;
  }
  .section-noticia .contenedor-imagenes .cont-imagen-noticia .imagen-noticia {
    height: 60vw;
  }
  .section-noticia #img-numb {
    font-size: 6vw;
  }
  .section-noticia .autor-noticia,
  .section-noticia .fecha-noticia {
    font-size: 3vw;
  }
  .section-noticia .contenido-noticia {
    font-size: 3.5vw;
  }
  .sectionVida .vida-nav-cont {
    height: 10%;
  }
  .sectionVida .vida-nav-cont .vida-titulo {
    width: 33%;
    font-size: 3vw;
  }
  .sectionVida .vida-cont {
    height: 100vw;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido img {
    width: 97%;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido h2 {
    width: 97%;
    font-size: 4vw;
    top: -18vw;
    text-align: center;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido p {
    font-size: 3vw;
  }
  .footer .contenedor-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .contenedor-footer .footer-texto {
    padding: 0.5vw;
  }
  .footer .contenedor-footer .footer-texto p {
    font-size: 3vw;
  }
  .footer .contenedor-footer .footer-texto .firma {
    font-size: 2vw;
  }
  .footer .contenedor-footer .footer-texto .copyR {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=index.css.map */