@charset "UTF-8";
.contenedor-barra-navegacion {
  overflow: hidden;
  background-color: #ffa733;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-barra-navegacion .barra-navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 50px;
}
.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50vw;
  max-width: 50vw;
  font-size: 1vw;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-cont-nav-sub {
  display: flex;
  width: 50%;
  height: 100%;
}
.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav {
  width: 100%;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  transition: 200ms all;
}
.contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-nav:hover {
  border-top: 5px solid #333333;
  cursor: pointer;
}
.contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
  margin-right: 5.3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 13vw;
}
.contenedor-barra-navegacion .barra-navegacion .redes-cont-nav #boton-inicio {
  color: rgb(33, 41, 21);
  font-size: 2vw;
  position: relative;
  top: 3rem;
  cursor: pointer;
}
.contenedor-barra-navegacion .barra-navegacion .buscador-input {
  border-radius: 5%;
  padding: 0.2vw;
  height: 100%;
  font-size: 1.3vw;
  width: 10vw;
}

/* redes sociales */
i {
  font-size: 2vw;
  margin: 0.2rem;
  color: #333333;
  transition: 200ms all;
}

i:hover {
  transform: rotate(30deg);
}

.boton-buscar {
  cursor: pointer;
}

.boton-contacto {
  font-size: 1.2vw;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.boton-contacto:hover {
  color: white;
}

.cont-anim-form {
  z-index: 10;
  height: 22vw;
  padding: 20px;
  border: outset 3px black;
  background-color: #ffa733;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  display: none;
  flex-direction: column;
  align-items: center;
}
.cont-anim-form .cont-head-form {
  display: flex;
  flex-direction: row;
}
.cont-anim-form .cont-head-form h3 {
  font-size: 2vw;
}
.cont-anim-form input {
  background-color: #ffe9d2;
}
.cont-anim-form input:focus {
  background-color: white;
}
.cont-anim-form .form-cont-inputs {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
.cont-anim-form .form-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cont-anim-form .form-cont textarea {
  resize: none;
  background-color: #ffe9d2;
  height: 10vw;
}
.cont-anim-form .form-cont textarea:focus {
  background-color: white;
}
.cont-anim-form .form-button {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 30vw;
}
.cont-anim-form .form-button .boton-form {
  border: outset 3px black;
  color: white;
  background-color: #333333;
  padding: 3px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont-anim-form .form-button .boton-form:hover {
  cursor: pointer;
  font-weight: 500;
}
.cont-anim-form #mensaje,
.cont-anim-form #nombre,
.cont-anim-form #apellido,
.cont-anim-form #email {
  padding: 0.2rem;
}

.seccion-noticias {
  transition: opacity 500ms;
  opacity: 0%;
  margin-top: 4rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion-noticias h2 {
  font-size: 3rem;
}
.seccion-noticias .general-main-cont {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.seccion-noticias .general-main-cont img {
  width: 60vw;
  height: auto;
}
.seccion-noticias .general-main-cont img:hover,
.seccion-noticias .general-main-cont h3:hover {
  cursor: pointer;
}
.seccion-noticias .general-main-cont h3 {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5vw;
  color: white;
  text-align: center;
  position: relative;
  align-self: center;
  top: -10vw;
  max-width: 55%;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.seccion-noticias .general-main-cont p {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  color: white;
  font-weight: 600;
  top: -10vw;
  padding: 0.5vw;
  font-size: 1vw;
}
.seccion-noticias .general-cont-noticias {
  margin: 4rem 0 4rem 0;
  min-width: 800px;
  max-width: 1000px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion-noticias .general-cont-noticias .noticia:nth-of-type(2n) {
  background-color: rgba(134, 134, 134, 0.096);
}
.seccion-noticias .general-cont-noticias .noticia {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 200px;
}
.seccion-noticias .general-cont-noticias .noticia .imgDiv {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.205);
}
.seccion-noticias .general-cont-noticias .noticia .noticia-textos {
  padding: 1rem;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seccion-noticias .general-cont-noticias .noticia .noticia-textos p {
  margin-top: 3px;
  height: auto;
}
.seccion-noticias .general-cont-noticias .noticia:hover {
  cursor: pointer;
}

.section-noticia {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 4rem 0;
}
.section-noticia .titulo-noticia {
  font-size: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-noticia .cont-imagen-noticia {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.section-noticia .cont-imagen-noticia .imagen-noticia {
  height: 500px;
  width: auto;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section-noticia .autor-noticia {
  font-style: italic;
  width: 80%;
}
.section-noticia .contenido-noticia {
  background-color: white;
  padding: 10px;
  width: 80%;
  font-size: 1.2rem;
}
.section-noticia .fecha-noticia {
  width: 80%;
}

.contenedor-imagenes {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flecha-izq:hover,
.flecha-der:hover {
  cursor: pointer;
}

#img-numb {
  font-size: 1.5rem;
  font-weight: 600;
}

.texto-rojo {
  color: #ff0000;
}

.entrevista-bot {
  text-align: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-7 20:37:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.texto-publicidad {
  color: #ffa733 !important;
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
.btn--wiggle {
  -webkit-animation: 1s wiggle ease infinite;
          animation: 1s wiggle ease infinite;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.montecastro {
  text-align: center;
}

.montecastro2 {
  margin-top: 0;
}

.montecastroLogo {
  max-width: 400px;
  width: 35%;
}

.logo-text {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #eee, #ffa733 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.avido {
  height: 85%;
  background-color: #ffffff;
}

#youtube-noticia {
  width: 80%;
  height: 650px;
}

.avido-mobile {
  display: none;
}

.logo-cont {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 33vw;
}
.logo-cont p {
  margin: 0px;
  color: white;
  font-size: 0.8vw;
}
.logo-cont .slogan {
  align-self: center;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.logo {
  width: 250px;
}

main {
  background-image: url(../../imagenes/fondo.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header */
header {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.threestars {
  width: 20%;
}

.sillaEnRadio {
  font-size: 0.8vw;
  font-weight: 600;
}

.HiddenObject {
  display: none;
}

.btn-primary {
  background-color: #ffa733 !important;
  border-color: #ffa733 !important;
}

.btn-primary:hover {
  background-color: #ff9100 !important;
  border-color: #ff9100 !important;
}

.radioCont,
.canalYoutube {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33vw;
  text-align: center;
}
.radioCont p,
.canalYoutube p {
  color: #ffa733;
}
.radioCont iframe,
.canalYoutube iframe {
  width: 250px;
}
.radioCont .radio-cont,
.canalYoutube .radio-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Seccion 1 = tarjetas */
.section1 {
  margin: 50px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "principal secundaria1" "secundaria2 secundaria3";
  transition: 200ms opacity;
  opacity: 0%;
  width: 80vw;
}

.img-general-principal {
  height: 200px;
  width: auto;
}

.img-general-secundaria {
  height: 200px;
  width: auto;
}

.card1,
.card2,
.card3,
.card4 {
  width: 80%;
  height: 40vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card1 .card-body .card-text,
.card2 .card-body .card-text,
.card3 .card-body .card-text,
.card4 .card-body .card-text {
  height: 40%;
  overflow-y: scroll;
}

.card-cont-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}

.card-body {
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.card-cont-boton-autor {
  display: flex;
  justify-content: space-between;
}

.card1 {
  grid-area: principal;
  justify-self: flex-start;
}

.card2 {
  grid-area: secundaria1;
  justify-self: flex-end;
}

.card3 {
  margin-top: 20px;
  grid-area: secundaria2;
  justify-self: flex-start;
}

.card4 {
  margin-top: 20px;
  grid-area: secundaria3;
  justify-self: flex-end;
}

/* Botón de contacto */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 60vw;
  padding: 1%;
  background-color: #ffa733;
  -webkit-clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
          clip-path: polygon(26% 0, 78% 0, 75% 100%, 22% 100%);
  max-height: 80px;
}

.boton-contacto a {
  color: #000000;
  font-weight: bold;
  margin: 10rem 0rem 0rem 0rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boton-contacto a:hover {
  text-decoration: none;
  color: white;
}

/* topicos */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 50px 0 50px 0;
}

.tarjeta-persona div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-section3 {
  font-size: 1.5vw;
}

.img-hacemos-cont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}

.img-hacemos {
  width: 10vw;
  height: 15vw;
  overflow: hidden;
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  border-radius: 172px 172px 172px 172px;
  -moz-border-radius: 172px 172px 172px 172px;
  -webkit-border-radius: 172px 172px 172px 172px;
  border: 0px solid #000000;
}

.tarjeta-persona p {
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1rem;
}

.redondeo {
  height: 16vw;
  width: 13vw;
}

.tarjeta-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionArte {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.sectionArte .contenedor-arte-noticias {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}
.sectionArte .contenedor-arte-noticias .card5,
.sectionArte .contenedor-arte-noticias .card6 {
  width: 25%;
  height: 90%;
}
.sectionArte .contenedor-arte-noticias .card5 .card-text,
.sectionArte .contenedor-arte-noticias .card6 .card-text {
  height: 5vw;
  overflow-y: scroll;
}
.sectionArte .spinner-positionArt {
  position: relative;
  top: 20vw;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #333333;
}
.sectionArte .cont-arte-titulo {
  position: relative;
  top: 0vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  width: 12vw;
  height: 3vw;
  padding: 0.1vw;
  color: white;
}
.sectionArte .cont-arte-titulo .arte-titulo {
  font-size: 1.4vw;
  margin-bottom: 0 !important;
}
.sectionArte .contenedor-arte {
  opacity: 0%;
  height: auto;
}
.sectionArte .cont-arte-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.637);
  position: relative;
  z-index: 2;
  top: 0vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  color: white;
}
.sectionArte .cont-arte-txt p {
  margin-bottom: 0 !important;
  font-size: 1vw;
  font-weight: 500;
}
.sectionArte .cont-arte-txt #arte-txt-desc {
  margin-bottom: 1rem !important;
}

.sectionTrivia {
  display: flex;
  margin-top: 5vw;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.sectionTrivia .spinner-positionTrivia {
  position: relative;
  top: 5vw;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #333333;
}
.sectionTrivia .preguntaTrivia {
  font-size: 1.3vw;
}
.sectionTrivia .contenedorTrivia {
  opacity: 0%;
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionTrivia .contenedorTrivia input:hover {
  cursor: pointer;
}
.sectionTrivia .contenedorTrivia .trivia-op-cont {
  display: flex;
  align-items: center;
  border: 5px outset #ffa733;
  border-radius: 25px;
  width: 30vw;
  padding: 0.5vw;
  margin-top: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 1.2vw;
  transition: background-color 200ms;
}
.sectionTrivia .contenedorTrivia .trivia-op-cont label {
  margin-left: 10px;
}
.sectionTrivia .contenedorTrivia .trivia-op-cont label:hover {
  cursor: pointer;
}
.sectionTrivia .contenedorTrivia .trivia-op-cont:hover {
  cursor: pointer;
  background-color: rgba(173, 173, 173, 0.425);
}
.sectionTrivia .triviaDescripcionCont {
  display: none;
  margin-top: 1rem;
  width: 80%;
}
.sectionTrivia .triviaDescripcionCont .triviaDescripcion {
  font-size: 1vw;
}

.sectionVida {
  height: auto;
  padding: 2rem;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 4vw 0;
}
.sectionVida .spinner-positionVida {
  position: relative;
  top: 0vw;
  left: 35vw;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}
.sectionVida .vida-cont {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40vw;
  transition: opacity 200ms;
  opacity: 0%;
}
.sectionVida .vida-nav-cont {
  display: flex;
  width: 90%;
  height: 5%;
  align-items: center;
}
.sectionVida .vida-nav-cont .vida-titulo {
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.2vw;
  font-weight: 600;
  border: 1px outset rgb(0, 119, 6);
  border-radius: 15px 15px 0 0;
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionVida .vida-nav-cont .vida-titulo:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #ffa733;
  color: white;
}
.sectionVida .vida-contenido-cont-general {
  border: 2px solid rgb(0, 119, 6);
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 2vw;
  overflow: auto;
}
.sectionVida .vida-contenido-cont-general .vida-contenido {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-left: 1.2vw dotted rgb(230, 230, 230);
  width: 100%;
  height: auto;
}
.sectionVida .vida-contenido-cont-general .vida-contenido h2 {
  position: relative;
  top: -10vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  width: 90%;
  height: auto;
  min-height: 5vw;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionVida .vida-contenido-cont-general .vida-contenido p {
  width: 90%;
}
.sectionVida .vida-contenido-cont-general .vida-contenido img {
  height: auto;
  width: 90%;
  margin-top: 1vw;
}
.sectionVida .vida-contenido-cont-general .vida-contenido .vida-contenido-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionVida .card7 {
  align-self: center;
  margin-top: 2rem;
  width: 70%;
  height: auto;
}
.sectionVida .card7 .card-text {
  height: 5vw;
  overflow-y: scroll;
}

.cont-meme-publi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40vw;
}

.dato-meme {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vw;
}
.dato-meme .dato-meme-text {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}
.dato-meme .dato-meme-text p {
  font-weight: 600;
  border: 1px solid rgb(0, 119, 6);
  border-radius: 15px 15px 0 0;
  text-align: center;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.2vw;
}
.dato-meme .dato-meme-img {
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(0, 119, 6);
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dato-meme .dato-meme-img img {
  display: none;
}

.dato-humor {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vw;
}
.dato-humor .dato-humor-text {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}
.dato-humor .dato-humor-text p {
  font-weight: 600;
  border: 1px solid rgb(0, 119, 6);
  border-radius: 15px 15px 0 0;
  text-align: center;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.2vw;
}
.dato-humor .dato-humor-img {
  background-color: rgb(230, 230, 230);
  border: 2px solid rgb(0, 119, 6);
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dato-humor .dato-humor-img img {
  height: 100%;
}

/* Publicidad */
.bloque-pub {
  background-color: rgba(0, 0, 0, 0.123);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100px;
  width: 25vw;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.bloque-pub img {
  height: 100%;
  width: auto;
  border-radius: 100px;
}
.bloque-pub .bloque-pub-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}
.bloque-pub .bloque-pub-texto p {
  margin-bottom: 0.2vw !important;
}
.bloque-pub .bloque-pub-texto .pub-titulo {
  font-size: 1.5vw;
  font-weight: 600;
}

.bloque-pub-oliv {
  background-color: rgba(0, 0, 0, 0.123);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 25px;
  margin-bottom: 3vw;
  width: 35vw;
  height: 11vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.bloque-pub-oliv img {
  margin-left: 1vw;
  height: auto;
  width: 30%;
  border-radius: 100px;
}
.bloque-pub-oliv .bloque-pub-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}
.bloque-pub-oliv .bloque-pub-texto p {
  font-size: 0.6vw;
  margin-bottom: 0.2vw !important;
}
.bloque-pub-oliv .bloque-pub-texto .pub-titulo {
  font-size: 1.6vw;
  font-weight: 600;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  height: 200px;
  color: #ffffff;
  position: relative;
  top: 0rem;
  width: 100%;
}
.footer .contenedor-footer {
  width: 100%;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.footer .contenedor-footer .footer-texto {
  padding-top: 0.8rem;
  height: 98%;
}
.footer .contenedor-footer .footer-texto .copyR {
  font-size: 0.7vw;
  margin-top: 1vw;
}
.footer .contenedor-footer .firma {
  font-style: italic;
  font-size: 0.7vw;
}

.spinner-position {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  color: #333333;
}

.clima {
  margin: 0 12px 0 0 !important;
  border: none !important;
}
.clima a {
  color: white;
}

.hidden {
  display: none;
}

.fundeu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  height: 5vw;
  margin: 0 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 25px;
}
.fundeu img {
  height: 100%;
  width: auto;
}
.fundeu p {
  font-size: 0.9vw;
  margin: 0 0 0 0.5vw;
}

.fundeu:hover {
  cursor: pointer;
}

.boton-menu-nav {
  display: none !important;
  cursor: pointer;
}

.contenedor-videos,
.contenedor-videos-rc {
  width: 100%;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-videos .video,
.contenedor-videos-rc .video {
  margin: 1vw;
  width: 25vw;
  height: 30vw;
}
.contenedor-videos .video h3,
.contenedor-videos-rc .video h3 {
  font-size: 1vw;
}
.contenedor-videos .video p,
.contenedor-videos-rc .video p {
  height: 20%;
  overflow-y: scroll;
}
.contenedor-videos .video iframe,
.contenedor-videos-rc .video iframe {
  width: 100%;
  height: 60%;
}

.boton-nuevo {
  position: relative;
  width: 0;
  height: 0;
  top: -20%;
  left: 20%;
}
.boton-nuevo p {
  color: #ff0000;
  font-size: 0.6vw;
  position: absolute;
}

.contenedor-videos-rc .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 40%;
  max-width: 400px;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contenedor-videos-rc img {
  width: 70%;
  max-height: 300px;
  max-width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 20px;
}
.contenedor-videos-rc iframe {
  height: 100%;
}

.chat-noticia {
  width: 80vw;
}

.chat-fb-title {
  text-align: left;
  margin-top: 2rem;
}

.contenedor-trivia-noticia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 30vh;
  margin-bottom: 10rem;
}
.contenedor-trivia-noticia .contenedor-noticia-curiosidades {
  width: 20vw;
}

.PASODesk {
  width: 33vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.PASODesk p {
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
}
.PASODesk a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.PASOMov {
  display: none;
}

.canalYoutube p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffa733;
  font-size: 1rem;
  margin-bottom: 0;
}
.canalYoutube a i {
  color: #ff0000;
  font-size: 3rem;
}
.canalYoutube a i:hover {
  transform: none;
}

@media (max-width: 1500px) {
  .boton-nuevo {
    top: -10%;
    left: 20%;
  }
  .bloque-pub-texto p {
    font-size: 1vw;
  }
  .PASODesk p {
    font-size: 1rem;
  }
}
.actualidad-front {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 50vh;
  margin-top: 5vw;
}
.actualidad-front .card-actualidad-front {
  width: 35vw;
  height: 100%;
}
.actualidad-front .card-actualidad-front .card-cont-img-act {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}
.actualidad-front .card-actualidad-front .card-text-act {
  height: 5vw;
  overflow-y: scroll;
}

.mobilePASODesk {
  display: none;
}

@media (max-width: 570px) {
  .boton-nuevo {
    top: -30%;
    left: 20%;
  }
  .boton-nuevo p {
    font-size: 3vw;
  }
  .contenedor-videos-rc .video {
    width: 100%;
  }
  .canalYoutube {
    display: flex;
    flex-direction: column;
  }
  .actualidad-front {
    flex-direction: column;
    min-height: 1000px;
    height: 120vh;
    width: 100%;
  }
  .actualidad-front .card-actualidad-front {
    width: 80vw;
  }
  .actualidad-front .card-actualidad-front .card-text-act {
    height: 8vh;
  }
  #youtube-noticia {
    width: 100%;
    height: 200px;
  }
  .sectionVida .card7 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .sectionVida .card7 .card-text {
    height: 10vw;
  }
  .PASODesk {
    display: none;
  }
  .hidden {
    display: block;
    color: white;
    font-size: 3vw;
    margin-bottom: 1rem;
  }
  .sillaEnRadio {
    font-size: 3vw;
  }
  .spinner-position {
    left: 35%;
  }
  header {
    height: auto;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
  }
  .logo-cont {
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  .logo-cont .slogan {
    margin: 0;
    color: white;
    font-size: 0.8rem;
  }
  .logo-cont p {
    font-size: 2vw;
    margin: 0;
  }
  .avido {
    display: none;
  }
  .avido-mobile {
    height: 10vh;
    margin-bottom: 10px;
    display: block;
    background-color: #ffffff;
  }
  .PASOMov {
    display: block;
    text-align: center;
    height: 10vh;
  }
  .PASOMov p {
    color: white;
    font-size: 15px;
    margin-bottom: 0;
  }
  .PASOMov a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
  .radioCont,
.canalYoutube {
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .radioCont p,
.canalYoutube p {
    font-size: 0.8rem;
  }
  .radioCont a i,
.canalYoutube a i {
    font-size: 2rem;
  }
  .radioCont .radio-cont,
.canalYoutube .radio-cont {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
  }
  .radioCont .radio-cont p,
.canalYoutube .radio-cont p {
    font-size: 2vw;
    margin: 0;
  }
  .radioCont .radio-cont iframe,
.canalYoutube .radio-cont iframe {
    width: 60vw;
    height: 50px;
  }
  .contenedor-barra-navegacion .barra-navegacion .redes-cont-nav #boton-inicio {
    font-size: 9vw;
  }
  .contenedor-barra-navegacion {
    overflow: hidden;
  }
  .contenedor-barra-navegacion .barra-navegacion {
    height: 35vw;
    flex-direction: column;
  }
  .contenedor-barra-navegacion .barra-navegacion .boton-cont-nav {
    flex-direction: column;
    height: 200px;
    width: 100vw;
    max-width: 100vw;
    font-size: 4.5vw;
  }
  .contenedor-barra-navegacion .barra-navegacion .boton-cont-nav .boton-cont-nav-sub {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .contenedor-barra-navegacion .barra-navegacion .redes-cont-nav {
    width: 80vw;
  }
  .contenedor-barra-navegacion .barra-navegacion .redes-cont-nav .buscador-input {
    width: 35vw;
    height: 8vw;
    font-size: 3vw;
  }
  i {
    font-size: 6vw;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .section1 .card1,
.section1 .card2,
.section1 .card3,
.section1 .card4 {
    width: 80vw;
    height: 40vh;
    min-height: 500px;
  }
  .section1 .card1 .card-title,
.section1 .card2 .card-title,
.section1 .card3 .card-title,
.section1 .card4 .card-title {
    font-size: 5vw;
  }
  .section1 .card1 .card-text,
.section1 .card2 .card-text,
.section1 .card3 .card-text,
.section1 .card4 .card-text {
    font-size: 4vw;
  }
  .section1 .card1 .card-cont-boton-autor p,
.section1 .card2 .card-cont-boton-autor p,
.section1 .card3 .card-cont-boton-autor p,
.section1 .card4 .card-cont-boton-autor p {
    font-size: 3.5vw;
  }
  .section1 .card1 .card-cont-boton-autor a,
.section1 .card2 .card-cont-boton-autor a,
.section1 .card3 .card-cont-boton-autor a,
.section1 .card4 .card-cont-boton-autor a {
    font-size: 3.5vw;
  }
  .section2 {
    margin-top: 1rem;
    width: 100vw;
    height: 15vw;
    -webkit-clip-path: polygon(16% 0, 88% 0, 85% 100%, 12% 100%);
            clip-path: polygon(16% 0, 88% 0, 85% 100%, 12% 100%);
  }
  .section2 .boton-contacto {
    font-size: 4vw;
  }
  .cont-anim-form {
    width: 100vw;
    height: 80vw;
    transform: none;
    top: 40%;
    left: 0;
  }
  .cont-anim-form .cont-head-form h3 {
    font-size: 4vw;
  }
  .cont-anim-form .form-cont {
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .cont-anim-form .form-cont .form-cont-inputs {
    margin: 0 0 1vw 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cont-anim-form .form-cont .form-cont-inputs input {
    width: 80vw;
    font-size: 3vw;
  }
  .cont-anim-form .form-cont .form-button {
    width: 80vw;
  }
  .cont-anim-form .form-cont .form-button .boton-form {
    font-size: 3vw;
  }
  .cont-anim-form #mensaje {
    width: 80vw;
    height: 20vw;
    font-size: 3vw;
  }
  .sectionArte {
    margin-top: 10vw;
  }
  .sectionArte .contenedor-arte-noticias {
    margin-bottom: 2rem;
    width: 100vw;
    flex-direction: column;
  }
  .sectionArte .contenedor-arte-noticias .card5,
.sectionArte .contenedor-arte-noticias .card6 {
    width: 100%;
    padding: 5vw;
  }
  .sectionArte .contenedor-arte-noticias .card5 .card-text,
.sectionArte .contenedor-arte-noticias .card6 .card-text {
    height: 25vw;
    overflow-y: scroll;
  }
  .sectionArte .contenedor-arte .cont-arte-titulo {
    width: 24vw;
    height: 7vw;
    top: 0vw;
  }
  .sectionArte .contenedor-arte .cont-arte-titulo .arte-titulo {
    font-size: 4vw;
  }
  .sectionArte .contenedor-arte .cont-arte-txt {
    height: 15vw;
    width: 100%;
    top: 0vw;
  }
  .sectionArte .contenedor-arte .cont-arte-txt p {
    font-size: 3vw;
  }
  .sectionTrivia {
    width: 100vw;
  }
  .sectionTrivia .contenedorTrivia {
    width: 90%;
  }
  .sectionTrivia .contenedorTrivia h2 {
    font-size: 9vw;
  }
  .sectionTrivia .contenedorTrivia .preguntaTrivia {
    font-size: 4vw;
  }
  .sectionTrivia .contenedorTrivia .trivia-op-cont {
    width: 100%;
    height: 15vw;
    font-size: 3vw;
  }
  .section3 .titulo-section3 {
    font-size: 6vw;
  }
  .section3 .img-hacemos-cont {
    margin: 0;
    width: 100vw;
  }
  .section3 .img-hacemos-cont .tarjeta-persona {
    width: 30%;
  }
  .section3 .img-hacemos-cont .tarjeta-persona p {
    font-size: 2.5vw;
  }
  .seccion-noticias {
    margin-top: 5vw;
  }
  .seccion-noticias h2 {
    font-size: 8vw;
  }
  .seccion-noticias .general-main-cont {
    width: 100vw;
    height: auto;
    margin-top: 4vw;
  }
  .seccion-noticias .general-main-cont h3 {
    font-size: 4vw;
    max-width: 85%;
    top: -30vw;
  }
  .seccion-noticias .general-main-cont p {
    font-size: 3vw;
    top: -28vw;
  }
  .seccion-noticias .general-cont-noticias {
    margin: 0;
    min-width: 0;
    width: 100vw;
  }
  .seccion-noticias .general-cont-noticias .noticia {
    flex-direction: column;
    width: 85vw;
    height: 120vw;
  }
  .seccion-noticias .general-cont-noticias .noticia .imgDiv {
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 70vw;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos {
    width: 100%;
    height: auto;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos h3 {
    font-size: 4vw;
  }
  .seccion-noticias .general-cont-noticias .noticia .noticia-textos p {
    font-size: 3vw;
    width: 100%;
  }
  .section-noticia {
    width: 100vw;
  }
  .section-noticia .titulo-noticia {
    font-size: 4.5vw;
    width: 87vw;
  }
  .section-noticia .contenedor-imagenes .flecha-izq {
    position: relative;
    top: 35vw;
    left: 20vw;
  }
  .section-noticia .contenedor-imagenes .flecha-der {
    position: relative;
    top: 35vw;
    left: -20vw;
  }
  .section-noticia .contenedor-imagenes .cont-imagen-noticia {
    height: auto;
    width: 100vw;
    margin: 0;
  }
  .section-noticia .contenedor-imagenes .cont-imagen-noticia .imagen-noticia {
    height: 60vw;
  }
  .section-noticia #img-numb {
    font-size: 6vw;
  }
  .section-noticia .autor-noticia,
.section-noticia .fecha-noticia {
    font-size: 3vw;
  }
  .section-noticia .contenido-noticia {
    font-size: 3.5vw;
  }
  .sectionVida {
    flex-direction: column;
  }
  .sectionVida .vida-nav-cont {
    height: 10%;
  }
  .sectionVida .vida-nav-cont .vida-titulo {
    width: 33%;
    font-size: 3vw;
  }
  .sectionVida .vida-cont {
    align-items: center;
    justify-content: center;
    height: 100vw;
    width: 90vw;
    margin-bottom: 2rem;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido img {
    width: 97%;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido h2 {
    width: 97%;
    font-size: 4vw;
    top: -18vw;
    text-align: center;
  }
  .sectionVida .vida-contenido-cont-general .vida-contenido p {
    font-size: 3vw;
  }
  .sectionVida .cont-meme-publi {
    width: 80vw;
    height: 155vw;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sectionVida .dato-meme {
    width: 100%;
    height: 70vw;
  }
  .sectionVida .dato-meme .dato-meme-text {
    height: 10%;
    width: 100%;
  }
  .sectionVida .dato-meme .dato-meme-text p {
    width: 100%;
    font-size: 3vw;
  }
  .sectionVida .dato-meme .dato-meme-img {
    height: 93%;
    width: 100%;
  }
  .dato-humor {
    width: 100%;
    height: 80vw;
  }
  .dato-humor .dato-humor-text {
    height: 10%;
    width: 100%;
  }
  .dato-humor .dato-humor-text p {
    width: 100%;
    font-size: 3vw;
  }
  .dato-humor .dato-humor-img {
    height: 93%;
    width: 100%;
  }
  .bloque-pub {
    width: 80vw;
    height: 20vw;
  }
  .bloque-pub img {
    height: 100%;
  }
  .bloque-pub .bloque-pub-texto .pub-titulo {
    font-size: 5vw;
  }
  .bloque-pub .bloque-pub-texto p {
    font-size: 2.5vw;
  }
  .bloque-pub-oliv {
    width: 80vw;
    height: 35vw;
  }
  .bloque-pub-oliv .bloque-pub-texto .pub-titulo {
    font-size: 4vw;
  }
  .bloque-pub-oliv .bloque-pub-texto p {
    font-size: 2vw;
  }
  .fundeu {
    height: 15vw;
  }
  .fundeu p {
    font-size: 3vw !important;
  }
  .fundeu img {
    margin-right: 2vw;
  }
  .footer {
    height: 250px;
  }
  .footer .contenedor-footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  .footer .contenedor-footer .footer-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0.5vw;
  }
  .footer .contenedor-footer .footer-texto p {
    font-size: 4vw;
  }
  .footer .contenedor-footer .footer-texto .firma {
    font-size: 2vw;
    margin-bottom: 1vw;
  }
  .footer .contenedor-footer .footer-texto .copyR {
    font-size: 3vw;
  }
  .contenedor-videos {
    width: 100%;
    min-height: 50vh;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .contenedor-videos .video {
    margin: 1vw;
    width: 100%;
    height: 40vh;
  }
  .contenedor-videos .video h3 {
    font-size: 4vw;
  }
  .contenedor-videos .video p {
    height: 20%;
    overflow-y: scroll;
  }
  .contenedor-videos .video iframe {
    width: 100%;
    height: 60%;
  }
  .contenedor-trivia-noticia {
    margin: 2rem 0 0 0;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 120vh;
  }
  .contenedor-trivia-noticia .contenedor-noticia-curiosidades {
    width: 90%;
  }
  .mobilePASODesk {
    display: block;
    width: 100%;
  }
  .card1 .card-body .card-text,
.card2 .card-body .card-text,
.card3 .card-body .card-text,
.card4 .card-body .card-text {
    max-height: 100px;
  }
  .montecastroLogo {
    width: 30%;
  }
}/*# sourceMappingURL=index-ver1-1.css.map */